@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 20px;
    align-items: center;justify-content: center;
    height: 100vh;
    color: var(--light-color);
    font-weight: 500;
    font-size: 13px;
}
a{
    text-decoration: none;
}

/* --- variables */
:root{
    --light-color: #F2F2F2;
    --darc-color: #2f334c;
    --grey-color:grey;
    --grey-light:#e7e7e783;
    --spacial-shadow:rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.card{
    border-radius: 10px;
    background-color: var(--darc-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    width: 300px;
    padding:10px ;
    box-shadow: var(--spacial-shadow)
}
.main-bar{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.main-bar i{
    font-size: 16px;
    cursor: pointer;
    
}
.main-bar .fa-heart{
    margin-right: 10px;
}

.box-info #picture{
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow:var(--spacial-shadow) ;
    margin-bottom: 10px;
}
.box-info h3{
    font-size: 23px;
}
.box-info #skill{
   text-transform: uppercase;
   font-size: 13px;
   color: var(--grey-light);
   font-weight: 500;
   margin-bottom: 10px;
}
.box-info #desc{
    font-size: 16px;
    
    text-align: center;
}
.link-follo{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    width: 120px;
    height: 36px;
    border-radius: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    box-shadow: var(--spacial-shadow);
    background-image: radial-gradient(at 11.637472158468709% 65.07775625949628%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 7.562528161420956% 35.19411353925952%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 83.88364982155322% 18.38363015487254%, hsla(272.95081967213116, 50.83333333333334%, 52.94117647058824%, 1) 0%, hsla(272.95081967213116, 50.83333333333334%, 52.94117647058824%, 0) 100%), radial-gradient(at 11.896430550042158% 47.61373179478882%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 52.85335691517429% 70.11308228394847%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 29.748783966216873% 70.01286225715509%, hsla(272.95081967213116, 50.83333333333334%, 52.94117647058824%, 1) 0%, hsla(272.95081967213116, 50.83333333333334%, 52.94117647058824%, 0) 100%);
}
.link-follo a{
    color: var(--light-color)
}
.sociale-media{
    display: flex;
    justify-content: space-around;
}

.box-contact{
    font-size: 18px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
}
.sociale-media .icon{
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--spacial-shadow);
    margin-bottom: 5px;
    cursor: pointer;
}
.sociale-media .icon1{
background-image: radial-gradient(at 49.915651265881124% 50.99693776398697%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 86.69035087006347% 79.18246124966517%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 52.903907494180494% 9.779653227604769%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 25.628788149511617% 99.9832903279106%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 43.78001597903399% 86.04906668273648%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 61.547203497000694% 46.087259443357475%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 63.38227108012548% 74.40078373095957%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 12.856513310267758% 43.39287083137753%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 9.10024113213137% 9.231747117252143%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 9.399034228538595% 4.266339973742028%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 74.12468742688064% 90.51571220779242%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%);
}
.sociale-media .icon2{
background-image: radial-gradient(at 49.915651265881124% 50.99693776398697%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 86.69035087006347% 79.18246124966517%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 52.903907494180494% 9.779653227604769%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 25.628788149511617% 99.9832903279106%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 43.78001597903399% 86.04906668273648%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 61.547203497000694% 46.087259443357475%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 63.38227108012548% 74.40078373095957%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 12.856513310267758% 43.39287083137753%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 9.10024113213137% 9.231747117252143%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 9.399034228538595% 4.266339973742028%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 74.12468742688064% 90.51571220779242%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%);
}
.sociale-media .icon3{
background-image: radial-gradient(at 49.915651265881124% 50.99693776398697%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 86.69035087006347% 79.18246124966517%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 52.903907494180494% 9.779653227604769%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 25.628788149511617% 99.9832903279106%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 43.78001597903399% 86.04906668273648%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 61.547203497000694% 46.087259443357475%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 63.38227108012548% 74.40078373095957%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 12.856513310267758% 43.39287083137753%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 9.10024113213137% 9.231747117252143%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%), radial-gradient(at 9.399034228538595% 4.266339973742028%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 1) 0%, hsla(256.1421319796954, 83.82978723404257%, 53.92156862745099%, 0) 100%), radial-gradient(at 74.12468742688064% 90.51571220779242%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 1) 0%, hsla(273.09090909090907, 82.91457286432161%, 60.98039215686275%, 0) 100%);
}
.box-contact #followers{
    color: var(--grey-light);
    font-size: 13px;
}
